.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product {
  display: flex;
  min-width: 250px;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  border: 1px solid;

  &__title {
    font-weight: bold;
  }
}
