*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.pannel {
  display: flex;
}

.filters {
  display: flex;
  gap: 40px;
  margin-right: 64px;
}

.container {
  padding: 0 56px;
  margin-top: 24px;
}